<%= form_for(@record, :html => { :multipart => true }) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="file-upload-button">
    <div id="placeholder-box">File name...</div>
      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-small btn-default btn-inverse" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
          <%= f.file_field :file_upload, :id=> "custom-file-upload", style: "display: none;" %>
        </span>
      </div>
    </div>
  </div>  

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :metadata %><br>
    <%= f.text_field :metadata %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
