<% content_for :head do %>
  <%= stylesheet_link_tag 'records' %>
  <%= stylesheet_link_tag 'gray_wrap' %>
  <%= javascript_include_tag 'records' %>
<% end %>

<% provide(:page_title, "Edit Record") %>

<div class="small-banner-image-container students-image"></div>
<div class="should-include-name"><%= @include_user_name %></div>
<div class="container">
  <div class="padding-sides padding-bottom">
    <h1>Editing Record</h1>

    <%= render 'form' %>
  </div>
</div>
