<% content_for :head do %>
  <%= stylesheet_link_tag 'records' %>
  <%= stylesheet_link_tag 'bootstrap-datetimepicker' %>
  <%= stylesheet_link_tag 'mobile_gray_wrap' %>
<% end %>

<% provide(:page_title, "Edit Record") %>

<div class="small-banner-image-container students-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<!-- Render the attachment(s) -->
<div class="container" data-ng-app="VoicesApp">
  <div data-ng-controller="GalleryController">
    <% if @relevant_attachments.length == 1 %>
      <%= render 'single_attachment_edit' %>
    <% elsif @relevant_attachments.length > 1 %>
      <%= render 'multiple_attachments_edit' %>
    <% end %>
  </div>

  <!-- Render the record-level metadata -->
  <div data-ng-controller="FormController" class="padding-sides padding-bottom">
    <%= render 'record_form' %>
  </div>
</div>