<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
  <%= stylesheet_link_tag 'records' %>
  <%= javascript_include_tag 'records' %>
<% end %>

<div class="form-container">
  <h1 class="center">Editing record</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @record %> |
  <%= link_to 'Back', records_path %>

</div>
