<h1>Listing records</h1>

<table>
  <thead>
    <tr>
      <th>Cas user</th>
      <th>Title</th>
      <th>Metadata</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.cas_user_name %></td>
        <td><%= record.title %></td>
        <td><%= record.metadata %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_record_path %>
