<% content_for :head do %>
  <%= stylesheet_link_tag 'records' %>
<% end %>

<% provide(:page_title, "Show Record") %>

<div class="small-banner-image-container students-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<!-- Render the attachment(s) -->

<div class="container" data-ng-app="VoicesApp" data-ng-controller="GalleryController">
  <div class="padding-sides padding-bottom"> 
    <div class="over-image-row">
      <h3 class="record-title"><%= @record.title %></h3>
      <div class="edit-delete-button-container">
        <% if session[:cas_user] == @record.cas_user_name %>
          <%= link_to "Edit", edit_record_path(@record), 
            :class => "btn btn-primary blue-button", :id => "edit-record-button" %>
        <% else %>
          <%= link_to "Report Record", {:controller => "report_record", :action => "create", :id => @record.id, :reporting_agent => session[:cas_user] }, 
            :class => "btn btn-primary blue-button", :id => "report-record-button" %>
        <% end %>
      </div>
    </div>

    <% if @relevant_attachments.length == 1 %>
      <%= render 'single_attachment_show' %>
    
    <% elsif @relevant_attachments.length > 1 %>
      <%= render 'attachment_gallery' %>
      <%= render 'pagination_controls' %>
      <hr class="clear-floats">
    <% end %>

    <!-- Render the record-level metadata -->
    <%= render 'record_metadata' %>
  </div> <!-- /.padding-sides padding-bottom -->
</div> <!-- /.container -->