<% content_for :head do %>
  <%= stylesheet_link_tag 'records' %>
  <%= javascript_include_tag 'gallery_app' %>
<% end %>

<% provide(:page_title, "Show Record") %>

<div class="small-banner-image-container students-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<!-- Render the attachment(s) -->
<% if @relevant_attachments.length == 1 %>
  <%= render 'single_attachment_angular' %>
<% elsif @relevant_attachments.length > 1 %>
  <%= render 'multiple_attachments_angular' %>
<% end %>

<!-- Render the record-level metadata -->
<%= render 'record_metadata' %>