<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
  <%= stylesheet_link_tag 'user' %>
  <%= stylesheet_link_tag 'gray_wrap' %>
  <%= stylesheet_link_tag 'records' %>
  <%= javascript_include_tag 'masonry-4.0.0' %>
<% end %>

<% provide(:page_title, "Contributions") %>

<div class="small-banner-image-container students-image"></div>

<div class="container">
  <%= render 'rails_search_form' %>
</div>

<div class="gray-background">
  <div class="container">
    
    <% if @user_records.length == 0 %>
      <div class="invite-submissions-container">
        <div class="center-text">Materials you contribute to the Voices archive will be available here.</div>
        <br>
          <%= link_to "CONTRIBUTE", 
             {:controller => :records, :action => :new},
             :class => "btn btn-primary wide-button blue-button" %>
      </div>

    <% else %>

      <div class="masonry-container">
        <div class="masonry">
          <% @user_records.each do |record| %>
            
            <% if record.is_video? %>  
              <div class="masonry-item">
                <%= link_to record_path(record.id), :class => "section" do %>
                  <%= image_tag record.file_upload.url(:medium), :alt => record.title %>
                <% end %>
                <div class="masonry-item-title">
                  <%= record.title %>
                </div>
              </div>
              
            <% elsif record.is_image? %>  
              <div class="masonry-item">
                <%= link_to record_path(record.id), :class => "section" do %>
                  <%= image_tag record.file_upload.url(:original), :alt => record.title %>
                <% end %>
                <div class="masonry-item-title">
                  <%= record.title %>
                </div>
              </div>

            <% elsif record.is_audio? %>  
              <div class="masonry-item">
                <%= link_to record_path(record.id), :class => "section audio-section" do %>
                  <%= image_tag("audio-icon.jpg", :alt => record.title) %>
                <% end %>
                <div class="masonry-item-title">
                  <%= record.title %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    <% end %>

  </div>
</div>
