<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
  <%= stylesheet_link_tag 'user' %>
  <%= javascript_include_tag 'user' %>
<% end %>

<div class="container">

  <div class="grid">
    <% @user_records.each do |record| %>
      <%= link_to record_path(record.id) do %>
        <%= image_tag record.file_upload.url(:original), :class => "grid-item" %>
      <% end %>
    <% end %>
  </div>

</div>
