<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
  <%= stylesheet_link_tag 'user' %>
  <%= stylesheet_link_tag 'gray_wrap' %>
  <%= stylesheet_link_tag 'records' %>
<% end %>

<% provide(:page_title, "Contributions") %>

<div class="small-banner-image-container students-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<div data-ng-app="VoicesApp" data-ng-controller="userController" class="padding-bottom" data-ng-cloak>
  <%= render 'angular_search' %>
</div>