<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
  <%= stylesheet_link_tag 'user' %>
  <%= stylesheet_link_tag 'records' %>

<% end %>

<div class="small-banner-image-container students-image">
  <%= image_tag("students.jpg") %> 
</div>

<div class="gray-background">
  <div class="container">
    <div class="masonry-container">
      <div class="masonry">
        <% @user_records.each do |record| %>
          
          <% if is_video?(record.file_upload) %>  
            <div class="masonry-item">
              <%= link_to record_path(record.id), :class => "section" do %>
                <%= image_tag record.file_upload.url(:medium) %>
              <% end %>
              <div class="masonry-item-title">
                <%= record.title %>
              </div>
            </div>
            
          <% elsif is_image?(record.file_upload) %>  
            <div class="masonry-item">
              <%= link_to record_path(record.id), :class => "section" do %>
                <%= image_tag record.file_upload.url(:original) %>
              <% end %>
              <div class="masonry-item-title">
                <%= record.title %>
              </div>
            </div>

          <% elsif is_audio?(record.file_upload) %>  
            <div class="masonry-item">
              <%= link_to record_path(record.id), :class => "section audio-section" do %>
                <%= image_tag("audio-icon.jpg") %>
              <% end %>
              <div class="masonry-item-title">
                <%= record.title %>
              </div>
            </div>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
