<!DOCTYPE html>
<html>
<head>
  <title>Voices | <%= yield :page_title %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true, :async => Rails.env == "production" %>
  
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Typekit font js dependency -->
  <script async src="https://use.typekit.net/zsb0fok.js"></script>
  <script async>try{Typekit.load({ async: true });}catch(e){}</script>

  <%= render 'layouts/shim' %>

  <%= yield :head %>
</head>
<body>

  <!-- pagewrap for footer -->
  <div id="wrap">

    <!-- bootstrap3 header -->
    <%= render 'layouts/header' %>
 
    <!-- flash for messaging user -->
    <%= render 'layouts/flash' %>

    <!-- page content -->
    <%= yield %>

    <!-- push for footer spacing -->
    <div class="push"></div>

  </div> <!-- /#wrap -->
  
  <%= render 'layouts/footer' %>
</body>
</html>
